body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.clear-calc, .delete-calc {
    width: 50%;
}

button {
    width: 25%;
    height: 25px; ;
}

div  {
    width: 186px;
    display: flex;
    flex-wrap: wrap;
}

/* .numbers {
    border: solid black;
} */