body {
    display: flex;
    flex-direction: column;
    align-items: center;
}




button {
    width: 25%;
    height: 25px; ;
}

.numbers {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
}